
.project-container{
    padding: 20px;
    margin: 20px ;
}
.project-header{
    display: flex;
    flex-direction: column;
}
.project-header-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project-search{
    margin-bottom: 20px;
}
.project-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-create-btn{
    background-color: #1e334a!important;
    text-transform: capitalize!important;
}
.action-icon{
    display: flex;
    justify-content: center;
    align-items: center;

}
.edit-icon{
    color: #1e334a!important;
}
.delete-icon{
    color: red!important;
    margin-left: 20px;
}