
.topbar{
    width: 100%;
    height: 60px;
    /* background-color: #244161; */
    background-color: #071330;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    top: 0;
    z-index: 999;
    
    
}

.topbarWrapper{
    margin-left: 20px;
    
}
.topbar-notify{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.topbar-notify-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 8px;
    margin-right: 10px;
    
}
.topbar-title{
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:5px;
}
.time{
    color: white;
    margin-right: 10px;
}
.topbar-logo{
    padding: 1px;
    border: 2px solid #fff;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.topbar-vertical-line{
    width: 3px;
    height: 30px;
    background-color: #fff;
    /* margin-bottom: 5px; */
    
}
.topbar-project-title{
    font-size: 20px;
    font-weight: 500;
}