.homeDashboard{
    background-color: white;
    /* min-height: 100vh; */
}
.homeContainer{
    display: flex;
}

.other{
    /* flex: 4; */
    background-color: #fff;
    /* margin-left: 250px; */
    height: calc(100vh - 60px);
    /* width: auto; */
}
.hpmepage-child-navbar{
    display: flex;
    gap: 20px;
}
@media(max-width:992px){
    .other{
        margin-left: 70px;
    }
}
.home-img{
    width: 100%;
}
.home-line{
    margin-top: 20px!important;
}