.users-container{
    margin-bottom: 50px;
    background-color: white;
    min-height: 100vh;
    height: fit-content;    
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}
.users-top-header{
    display: flex;
    padding: 10px 20px 5px 20px;
    justify-content: end;
    align-items: center;
    margin-bottom: -5px;
    gap:20px;
    /*
     margin-top: 5px; */
}
.users-top-header a,
.users-top-header a:hover{
    color: #1e334a;
}

.users-header{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}
.users-header-contents{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}
/* ****************** Add User Dropdown start***************** */
.users-header-contents .dropdown{
    padding-right: 30px;
    
    
}
.users-header-contents .btn-secondary,
.users-header-contents .btn-secondary:focus,
.users-header-contents .btn-secondary:hover{
    
    /* background-color: #1e334a; */
    background-color: #1976d2;
}
.users-header-contents .dropdown .dropdown-menu{
    /* border: 2px solid black; */
    padding: 0px;
}
.users-header-contents .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: rgb(241, 135, 64)!important;
    color: #fff!important;
}

.users-header-contents .dropdown .dropdown-menu .dropdown-item{
    
    /* background-color: #1e334a; */
    background-color: white;
    color: #1e334a!important;
    font-size: 13px;
  
}
/* ************************************************************ */
.users-header-contents h5{
    margin-left: 30px;
    background-color: #1e334a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
/* Users CSS */
.users-search{
    margin-bottom: 20px;
    position: relative;
    
}
.users-search-icon{
    position: absolute!important;
    top: 28px;
    left: 35px;
    font-size: 20px!important;
}
.users-search select{
    background-color: #1976d2;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-left: 15px;
    font-size: 13px;
    border: none!important;
    
    
   
}
.users-search select option{
    background-color: #fff!important;
    color: #1e334a;
    
}
.users-input-search{
    margin-left: 30px;
    padding: 3px 10px;
    text-indent: 15px;
    border: 1px solid #1e334a!important;
    border-radius: 5px;
    margin-top: 20px;
    width: 230px!important;
}
.add-users-btn{
    /* background-color: #1e334a!important; */
    text-transform: capitalize!important;
    margin-right: 30px!important;
    padding: 6px 10px!important;
    margin-bottom: 7px!important;
}
.add-user-model-group-block{
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
    
    
}

.add-user-model-group-content{
    border: 1px solid rgb(153, 149, 149);
    /* width: 400px; */
    height: 200px;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    
}
.input-field-block{
    display: flex;
    flex-direction: column;

}
.input-field input,
 .input-field select{
    height: 30px;
    background-color: white ;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid gray;
}
.input-field h5{
    padding: 5px 10px;
    color: rgb(39, 36, 36);
    text-decoration: underline ;
}
.input-field h4{
    padding: 5px 0px;
    font-size: 20px;
    
}
.add-user-model-group-content-input{
    height: 25px!important;
    background-color: white ;
    padding: 5px;
    border-radius: 3px!important;
    font-size: 15px;
    border: 1px solid gray;
    width: 100%;
}
.create-project-model-form{
    margin-top: -20px!important;
}
.model-group-selection-checkbox{
    background-color: white ;
    border: 1px solid gray;
}
.model-group-selection{
    display: flex;
    align-items: center;
    gap:5px;
}
/* ****************** Import User start***************** */
.import-user ul li a{
    color: #1e334a; 
}
.user-line-block{
    display: flex;
    justify-content: center;
}
.import-user-line{
    height: 360px;
    width: 1px;
    background-color: grey;
    
}
.file-upload .btn{
    padding: 10px!important;
    width: 100%!important;
    background-color: #1e334a!important;
    text-align: center;
    color: #fff!important;
    border-radius: 5px;
}
.imort-user-model-form {
    padding: 20px;
    width: 100%;
}
.file-size{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap:3px;
    color: rgb(165, 156, 156);
    font-size: 13px;
    margin-bottom: 20px;
}
.import-user label,
.import-user input{
    font-size: 15px!important;
}
@media(max-width:992px){
    .import-user-line{
        display: none;
    }
}

/* ***************************************************** */
@media(max-width:902px){
    .users-top-header{
        justify-content: center;
        gap:10px;
    }
    .users-header{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
    .users-header-contents{
        display: flex;
        flex-direction: column;
       
    }
    .users-search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px!important;
    }
    .users-input-search{
       width: 300px!important;
       margin-left: 15px;
    }
    .users-search select{
        width: 95%;
       
    }
    .users-search-icon{
        left: 20px!important;
    }
    .add-users-btn{
        margin-right: -10px!important;
        width: 300px!important;
    }

}
@media(max-width:700px){
    .users-top-header{
        flex-direction: column!important;
        justify-content: center;
        gap:2px;
        font-size: 13px!important;
    }
}
@media(max-width:489px){
    .users-input-search{
        width: 230px!important;
        margin-left: 10px;
     }
     .users-search select{
         width: 95%;
         margin-left: 10px;
     }
     .add-users-btn{
        margin-right: -10px!important;
        width: 230px!important;
    }
    .users-search-icon{
        left: 15px!important;
    }
}

/* *************Delete user model Start ********************* */
.delete-user-section{
    position: relative;
}
.delete-user-section p{
    padding-left: 20px;
    padding-right: 20px;
}
.delete-user-section input{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 20px;
    width: 90%;
    border-radius: 5px;
    padding: 3px;
}
.delete-user-info{
    width: 100%;
    min-height: 50px;
    height: fit-content;
    background-color: rgb(236, 207, 127);
    /* color: #fff; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-right: 20px; */
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.delete-user-btn{
    width: 90%;
}
.delete-disable{
    width: 100%;
    color: rgb(160, 9, 9);   
    background-color: rgb(233, 240, 232); 
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.delete{
    width: 100%;
    color: rgb(160, 9, 9);
    background-color: #fff; 
    /* background-color: rgb(160, 9, 9);    */
    border:  2px solid rgb(160, 9, 9)!important;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.delete:hover{
    width: 100%;
    color: white;
    /* background-color: rgb(233, 240, 232);  */
    background-color: rgb(160, 9, 9);   
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.delete-close-btn{
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 25px!important;

}
.delete-close-btn:hover{
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 25px!important;
    color: blue;
    cursor: pointer;
}
/* ********************************************************* */