.license-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray; */
}

.license-content-block {
    min-height: 300px;
    height: fit-content;
    width: 400px;
    background-color: rgb(243, 243, 174);
    border: 1px solid lightgray;
    padding: 20px;
}

.license-check-icon {

    display: flex;
    flex-direction: row;

    gap: 10px;
}

.license-check-icon-style {
    /* color: #1e334a; */
    font-size: 12px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.help-support-container{
    width: 80%;
}
.help-support-container h5{
    /* background-color: blue;
    padding: 5px; */
    font-weight: bold;
}
.account-photo{
    font-weight: bold;
    margin-bottom: 5px;
}
.account-setting-photo-block{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.account-photo-change,
.account-photo-remove{
    font-weight: bold;
    cursor: pointer;

}
.account-photo-change:hover,
.account-photo-remove:hover{
    color: gray;
    cursor: pointer;
}
.account-setting-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.account-setting-btn{
    padding: 3px 30px;
    color: #fff;
    background-color: #071330;
    border-radius: 30px;
}
.account-setting-container{
    width: 85%;
}
.account-setting-container hr{
    height: 2px!important;
    color: #000!important;
}
.password-change-img{
    width:100%;
    height: 80%;
}
.light-dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-tabs{
    display: flex!important;
    flex-direction: row!important;
    gap:5px;
    margin-bottom: -10px!important;
}
.photo-change-btn{
    text-transform: capitalize!important;
    color: #071330!important;
    
}
.photo-remove-btn{
    text-transform: capitalize!important;
    /* background-color: red!important; */
    color: red!important;
}
.profile-container hr,
.password-chande-container hr{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
@media(max-width:500px){
    .account-setting-photo-block{
        width: 100%!important;
        
    }
}
@media(max-width:992px){
    .license-content-block {
        width: 100%!important;
        padding: 5px!important;
    }
    .license-check-icon {

        gap: 5px!important;
    }
    .help-support-container{
        width: 100%!important;
    }
    .account-setting-container{
        width: 100%!important;
    }
}