.template-container{
    width: 100%;
    background-color: #eef1f4;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 50px 100px; */
}
.template-container hr{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.template-cancel-btn{
    display: flex;
    justify-content: end;
}
.template-body{
    width: 90%;
    /* min-height: 400px; */
    height: fit-content;
    /* background-color: #f7f8fa; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.template-header{
    width: 100%;
    background-color: #f7f8fa!important;
    /* min-height: 100px; */
    height: fit-content;
}
.template-title{
    font-weight: bold;
}
.template-title-icon{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: blue;
    padding: 0px 2px;
    border-radius: 2px;
}

.first-name{
    font-size: 16px;
}
.body-text{
    background-color: #fff;
    min-height: 300px;
}
.body-text p, .template-body p{
    text-align: center;
    font-size: 15px;
}
.template-footer{
    display: flex;
    justify-content: center;
    /* text-align: center;
    margin-top: 20px; */
}
.template-unsub{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    margin-top: 5px;
}
.template-verticle-line{
    height: 15px;
    width: 2px;
    margin-bottom: 14px;
    background-color: rgb(31, 30, 30);
}
