 .users-container{
    margin-bottom: 4px!important;
    background-color: white;
    min-height: 100vh;
    height: fit-content;    
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 0px 3px;
}
.compaign-content-section{
    padding: 30px;
}

@media(max-width:700px){
    .compaign-content-section{
        padding: 5px!important;
    }
}

.compaign-type, .compaign-list{
    font-size: 30;

}
.compaign-list{
    font-weight: bold;
    text-align: center;
}
.stepper-header{
    height: 70px;
    /* width: 100%; */
    margin-top: -15px;
   
    border-bottom: 1px solid grey;
   
    
}
.stepper-body{
    min-height: 68vh;
    height: fit-content;
    background-color: #fff;
    padding: 10px;
    
}
.compaign-input-field-block{
    display: flex;
    flex-direction: column;

}
.compaign-input-field-block input{
    height: 30px;
    width: 250px;
    background-color: white ;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid gray;
}

.compaign-type-block{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:5px;
    /* background-color: rgb(205, 228, 241); */
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.compaign-type-block:hover{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:5px;
    background-color: rgb(205, 228, 241);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.compaign-type-block-active{
   
    background-color: rgb(205, 228, 241);
    
}
.compaign-type-icon-block{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid blue  ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.compaign-type-icon{
    /* font-size: 30px!important; */
    color: blue!important;
    /* height: 10px!important;
    width: 10px!important; */
}
.compaign-type-content-block{
    display: flex;
    flex-direction: column;
}

.compaign-type-heading, .compaign-type-text{
    font-size: 14px;
}
.compaign-type-text{
    color: gray ;
}
.language-text{
    font-size: 14px;
}
.compaign-language {
  width: 200px;
}

/* **********Choose Attack************ */
.select-choose-attack{
    color: #fff;
    background-color: blue;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-choose-attack .title{
    color: #fff!important;
    font-size: 14px!important;
    font-weight: bold;
}
.choose-attack-block{
    display: flex;
    gap:3px;
}
