.phish-code-section-container {
    height: 100vh;
    margin-top: 60px;
}

.phish-code-section1,
.phish-code-section2,
.phish-code-section3,
.phish-code-section4 {
    min-height: 500px;
    border: 1px solid grey;
    
}
.phish-code-section-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phish-code-section1{
    margin-top: 60px;
}
.phish-code-section1,
.phish-code-section3{
    background-color: #071330; 
     color: #fff;
     padding-top: 20px;
}
.phish-code-section2,
.phish-code-section4{
     padding-top: 20px;
}