.Home-layout-bg {
  background-color: #1e334a !important;
  
}



/* ********************************
    Bootstrap header
******************************** */

.header-bg-color {
  /* background: rgba(0,91,200,0.9); */
  background: #244161;
  backdrop-filter: saturate(180%) blur(20px);
  /* margin-top: 80px; */
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;

}

.nav-link {
  color: white !important;
  /* font-size: 16px!important;
    margin-right: 30px!important; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}

.header-logo {
  padding: 3px;
  border: 2px solid #fff;
  border-radius: 10px 0px 10px 0px;


}
.main-logo{
  height: 40px;
  width: 200px;
}
.nav-item {
  margin-left: 20px !important;
}

.navbar-toggler {
  color: #fff !important;
  /* border: 1px solid white!important; */
  border: none !important;

}

@media (max-width:991px) {
  .navbar-toggler {
    color: #fff !important;
  }
}

@media (min-width:998px) {
  .navbar-toggler-icon {
    color: #fff !important;
  }

  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
  }

  .header-logo {
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px 0px 10px 0px;

  }

  .nav-link {
    color: white !important;
    font-size: 14px !important;
    margin-right: 10px !important;
    padding: 3px 10px !important;
    border: 1px solid #244161;
    border-radius: 150px;
  }

  .active,
  .nav-link:hover {
    border: 1px solid #fff;
    border-radius: 150px !important;
    color: white !important;
    font-size: 14px !important;
    margin-right: 10px !important;
    padding: 3px 10px !important;
    cursor: pointer;
  }

}

/* ********************************
      Main Title Section
  ******************************** */
.main-section {
  min-height: 100vh;
}




/* main-section-title-block */
.main-title {
  font-size: 60px;
  color: #fff;
  font-weight: 500;
  margin-top: 100px;
}

.main-section-title-block {
  margin-left: 50px;
  padding-right: 50px;

}

.main-section-title-block h3 {
  color: #fff;
  margin: 20px 0px;
}

.check-icon {

  display: flex;
  gap: 10px;
}

.check-icon-style {
  color: #1e334a;
  font-size: 12px;
  background-color: white;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;


}

/* main-section-title-block-contents */
.main-section-title-block-contents p {
  /* margin-left: 20px; */
  color: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

@media(max-width:665px) {
  .main-section-title-block-contents p {
    font-size: 15px;

  }
}

@media (max-width:991px) {

  .main-section-title-block,
  .main-section-form-block {
    margin-left: 20px;
    margin-bottom: 10px;

  }

  .main-title {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
  }
}

@media (max-width:506px) {

  .main-title {
    font-size: 35x;
    color: #fff;
    font-weight: 500;
  }

  .main-section-title-block {

    padding-right: 0px;

  }
}


/* main-section-form-block */
.main-section-form-block {
  padding: 60px;
  background-color: white;
  border-radius: 5px;
  width: 85%;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  /* min-width: 500px; */
  /* border: 2px solid black; */
  min-height: 200px;
  height: fit-content;
  margin-right: 30px;
  margin-top: 100px;


}

/* .form-section{
    display: flex;
    justify-content: center;
    
  } */
.nextLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-error-message{
  color: red;
  padding-left: 5px;
  margin-top: 5px;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap:10px; */
  color: blue !important;
}

.submit-login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap:10px; */
}

.estaric {
  color: red;
}

@media (max-width:991px) {
  .main-section-form-block {
    margin-left: 20px;
    max-width: 65%;
    margin-right: 20px !important;
    margin-top: 20px !important;
    padding: 40px !important;
  }
}


@media (max-width:665px) {
  .main-section-form-block {
    margin-left: 20px;
    max-width: 80%;
    margin-right: 20px !important;
    padding: 30px !important;
  }
}

@media (max-width:550px) {
  .main-section-form-block {
    margin-left: 20px;
    max-width: 100%!important;
   margin-right: 20px!important;
    padding: 20px 10px !important;
  }

  .login-form {
    padding: 0px !important;

  }
}

/* Sign Up Form */

.signup-para {
  font-size: 12px;
  color: gray;
  line-height: 1.375;
  margin-top: 20px;
  padding: 0px 10px 10px 10px;

}

.check-text {
  font-size: 12px;
  color: gray;
  line-height: 1.375;
  /* margin-top: 20px; */
  /* padding: 0px 10px 10px 10px; */
}

.form-label {
  color: gray !important;
}

.form-btn {
  color: white;
  background-color: #1e334a;
  padding: 3px 13px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.login-form {
  padding: 30px 20px;


}

.login-form-btn {
  width: 100%;
  color: white;
  background-color: #1e334a;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.form-btn-next {
  color: white;
  background-color: #1e334a;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.form-btn:hover {
  color: white;
  background-color: #1e334a;
  padding: 3px 13px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;

}

.login-form-line {
  width: 100%;
  color: rgb(39, 37, 37);
  height: 10px;
  margin-top: 10px!important;
  margin-bottom: 10px!important;

}

a {
  text-decoration: none !important;
}

/* *****************Charts css start********************* */
.charts {
  width: 260px;
  height: 260px;
  background-color: #fff;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.76);
  padding-right: 5px;
  border-radius: 10px;
}

.donut-chart {
  width: 100% !important;
  height: 100% !important;
  font-size: 20px !important;

}

.charts h5 {
  text-align: center;
  color: #1e334a;
  padding-top: 5px;
  font-size: 15px;
  margin-bottom: -10px;
}

.line-chart {
  width: 250px;
  height: 240px;
  padding: 5px;
  margin-left: -30px;
  margin-top: 5px;
  font-size: 12px;

  /* margin={{ top: 5, right:5, left: -20, bottom: 5 }} */
}

.meter-chart {
  padding: 5px;
  margin-top: 40px;
}

@media(max-width:992px) {
  .charts {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-top: 10px;
  }

  .chart-section .row {
    gap: 10px;
  }
}

/* ***************************************************** */