body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(25, 0, 255)!important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

.header-bg-color{
  background: rgba(0,91,200,0.9);
  backdrop-filter: saturate(180%) blur(20px);
  /* margin-top: 80px; */
}
/* ********************************
    Bootstrap header
******************************** */
.navbar{
  position:fixed!important;
  top: 0;
  width: 100%;
  
}
.nav-link{
  color: white!important;
  /* font-size: 16px!important;
  margin-right: 30px!important; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:8px;
  margin-left: 20px;
}

.header-logo{
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 10px 0px 10px 0px;
  
}
.nav-item{
  margin-left: 20px!important;
}
.navbar-toggler{
  color: #fff!important;
  /* border: 1px solid white!important; */
  border: none!important;
  
}
@media (max-width:991px){
  .navbar-toggler{
  color: #fff!important;
  }
}
@media (min-width:998px){
  .navbar-toggler-icon{
  color: #fff!important;
}
  .header-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-left: 50px;
  }
  
  .header-logo{
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 10px 0px 10px 0px;
    
  }
  .nav-link{
    color: white!important;
    font-size: 16px!important;
    margin-right: 10px!important;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .active, .nav-link:hover{
    border: 1px solid #fff;
    border-radius: 150px!important;
    /* padding-top: -10px!important;
    padding-bottom: -10px!important; */
  }
   
}

/* ********************************
    Main Title Section
******************************** */
.main-section{
  margin-top: 100px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}




/* main-section-title-block */
.main-title{
  font-size: 60px;
  color: #fff;
  font-weight: 500;
}
.main-section-title-block{
  margin-left: 50px;
  padding-right: 50px;

}
.main-section-title-block h3{
  color: #fff;
  margin: 20px 0px;
}

.check-icon {
 
  display: flex;
  flex-direction: row;
  
  gap:10px;
}
.check-icon-style{
  color: blue;
  font-size: 12px;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  
  
}
/* main-section-title-block-contents */
.main-section-title-block-contents p{
  /* margin-left: 20px; */
  color: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
@media(max-width:665px){
  .main-section-title-block-contents p{
    font-size: 15px;
    
  }
}  
  
@media (max-width:991px){
  .main-section-title-block,
  .main-section-form-block{
    margin-left: 20px;
  }
  .main-title{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
  }
}
@media (max-width:506px){
  
  .main-title{
    font-size: 35x;
    color: #fff;
    font-weight: 500;
  }
}


/* main-section-form-block */
.main-section-form-block{
  padding: 30px 50px;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  /* min-width: 500px; */
  /* border: 2px solid black; */
  min-height: 200px;
  height: fit-content;
  margin-right: 30px;
  
}
/* .form-section{
  display: flex;
  justify-content: center;
  
} */
.submit-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:991px){
  .main-section-form-block{
    margin-left: 20px;
    max-width: 65%;
    margin-right: 20px!important;
  }
}


@media (max-width:665px){
  .main-section-form-block{
    margin-left: 20px;
    max-width: 80%;
    margin-right: 20px!important;
  }
}
@media (max-width:550px){
  .main-section-form-block{
    margin-left: 20px;
    max-width: 100%;
    margin-right: 20px!important;
  }
}