.email-featred {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #2c80db transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.email-card{
    /* position: relative; */
    z-index: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 0; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 160px;
}
.card-footer .btn{
    font-size: 15px!important;
    color: blue!important;
}
.email-featured text{
    position: absolute;
    top: 0;
    left: 0;
    
}
.rotate {

    transform: rotate(-45deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-45deg);
  
    /* Firefox */
    -moz-transform: rotate(-45deg);
  
    /* IE */
    -ms-transform: rotate(-45deg);
  
    /* Opera */
    -o-transform: rotate(-45deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    top: 20px;
    left: 8px;
    z-index: 3;
    color: #fff;
    
  }

  .email-card .video-thumbnail{
    width: 90px;
    height: 90px;
   
}

.email-template .users-container{
    padding: 0px 50px;
}
.email-template .breadcrumb {
    margin: 10px 0px;
    /* margin-bottom: 0px!important; */
   
    
}
.card-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .title{
    font-size: 13px;
}
.email-template hr{
    margin-top: -10px!important;
}
@media(min-width:1800px){
    .email-card{
        
        max-height: 330px!important;
        /* margin-top: -100px!important; */
        /* width: 70%!important; */
    }
    
}
@media(min-width:2500px){
    .email-card{
        
        max-height: 380px!important;
        
    } 
}
@media(min-width:3000px){
    .email-card{
        
        max-height: 450px!important;
        
    } 
}